DISTRICT SUMMARY

In [1]:
#Imports modules pandas and pathlib
import pandas as pd
from pathlib import Path

#Creates path to file
path_to_school_data = Path("Resources/schools_complete.csv")
path_to_student_data = Path("Resources/students_complete.csv")

#Reads the csv
school_data = pd.read_csv(path_to_school_data)
student_data = pd.read_csv(path_to_student_data)

#Combines the data into a single dataset using pd.merge(csv1, csv2, ?, on school name)  
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [2]:
# Calculate the total number of unique schools
#this would use value counts to check the number of instances
school_count = len(school_data_complete["school_name"].value_counts())
school_count

print("There are", school_count, "schools")

There are 15 schools

In [3]:
# Calculate the total number of students
#looking for total, use sum function
#did value_counts() to find how many students per school, then sum() to total it together
student_count = school_data_complete["school_name"].value_counts().sum()
student_count

print("There are", student_count, "students total")

There are 39170 students total

In [4]:
# Calculate the total budget
#SO looked for each unique value in budget
#e.g. huang hs has one budget '1,910,635'
#find unique instances of it (how many budgets there are) and return them
#use sum function to the array of budgets together ([5, 5, 5, 10]).sum() would return 25
total_budget = (school_data_complete["budget"].unique()).sum()
total_budget
print("Total budget is", total_budget)

Total budget is 24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = (school_data_complete["math_score"].sum())/student_count
average_math_score

print("The average math score is", average_math_score)

The average math score is 78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = (school_data_complete["reading_score"].sum())/student_count
average_reading_score

print("The average reading score is", average_reading_score)

The average reading score is 81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

print("Percent of students who passed math is", passing_math_percentage)
#this code was given to me

Percent of students who passed math is 74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

print("Percent of students who passed reading is", passing_reading_percentage)
#copied and pasted

Percent of students who passed reading is 85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

print("The percent of students who passed math and reading is", overall_passing_rate)
#this code was given to me

The percent of students who passed math and reading is 65.17232575950983

In [12]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools" : [school_count],
    "Total Students" : [student_count],
    "Total Budget" : [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score" : [average_reading_score],
    "% Passing Math" : [passing_math_percentage],
    "% Passing Reading" : [passing_reading_percentage],
    "% Overall Passing" : [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

SCHOOL SUMMARY

In [13]:
#Sets up a dataframe with school name, type, and budget
school_summary_df = school_data_complete[["school_name", "type", "budget"]] 

#drops duplicate index values in column (subset) "school_name"
school_summary_df = school_summary_df.drop_duplicates(subset = "school_name")

#Sorts the names alphabetically
school_summary_df = school_summary_df.sort_values("school_name")

#Changes the index to "school_name"
school_summary_df = school_summary_df.set_index("school_name")

#Displays the dataframe 
school_summary_df

                           type   budget
school_name
Bailey High School     District  3124928
Cabrera High School     Charter  1081356
Figueroa High School   District  1884411
Ford High School       District  1763916
Griffin High School     Charter   917500
Hernandez High School  District  3022020
Holden High School      Charter   248087
Huang High School      District  1910635
Johnson High School    District  3094650
Pena High School        Charter   585858
Rodriguez High School  District  2547363
Shelton High School     Charter  1056600
Thomas High School      Charter  1043130
Wilson High School      Charter  1319574
Wright High School      Charter  1049400

In [14]:
#counts how many times each school's name appears in the "school_name" column -> counts students per school
stu_per_school = school_data_complete["school_name"].value_counts()

#turns the series into a dictionary e.g. "Bailey HS" : "365"
stu_per_school.to_dict()


#Inserts the column as "students" and with the dictionary, uses the index keys to put the values in the right spot
school_summary_df["Students"] = stu_per_school 

#Displays the dataframe 
school_summary_df

                           type   budget  Students
school_name
Bailey High School     District  3124928      4976
Cabrera High School     Charter  1081356      1858
Figueroa High School   District  1884411      2949
Ford High School       District  1763916      2739
Griffin High School     Charter   917500      1468
Hernandez High School  District  3022020      4635
Holden High School      Charter   248087       427
Huang High School      District  1910635      2917
Johnson High School    District  3094650      4761
Pena High School        Charter   585858       962
Rodriguez High School  District  2547363      3999
Shelton High School     Charter  1056600      1761
Thomas High School      Charter  1043130      1635
Wilson High School      Charter  1319574      2283
Wright High School      Charter  1049400      1800

In [15]:
#gathers total budget as a series
tot_budget = school_summary_df["budget"]

#gathers students per school as a series
num_of_stu = school_summary_df["Students"]

#finds budget per student as total_budget / num_of_stu
bug_per_stu = tot_budget / num_of_stu

#inserts bug_per_stu under column "Budget per Student"
school_summary_df["Budget per Student"] = bug_per_stu

#Displays the dataframe 
school_summary_df

                           type   budget  Students  Budget per Student
school_name
Bailey High School     District  3124928      4976               628.0
Cabrera High School     Charter  1081356      1858               582.0
Figueroa High School   District  1884411      2949               639.0
Ford High School       District  1763916      2739               644.0
Griffin High School     Charter   917500      1468               625.0
Hernandez High School  District  3022020      4635               652.0
Holden High School      Charter   248087       427               581.0
Huang High School      District  1910635      2917               655.0
Johnson High School    District  3094650      4761               650.0
Pena High School        Charter   585858       962               609.0
Rodriguez High School  District  2547363      3999               637.0
Shelton High School     Charter  1056600      1761               600.0
Thomas High School      Charter  1043130      1635               638.0
Wilson High School      Charter  1319574      2283               578.0
Wright High School      Charter  1049400      1800               583.0

In [16]:
#need average test scores... a new dataframe with scores and school... and then what? 
#could do a sum of the scores in the original df and then divide by number of students
#add it in
scores_df = school_data_complete[["school_name", "reading_score", "math_score"]]

#total scores equals scores dataframe and group by school name
tot_scores = scores_df.groupby(["school_name"])

#sums up all scores by school -> then can divide by number of students in each school
tot_scores_two = tot_scores.sum()

tot_scores_two

reading_series = pd.Series(tot_scores_two["reading_score"])
av_read_score = reading_series / num_of_stu
school_summary_df["Average Reading Score"] = av_read_score

math_series = pd.Series(tot_scores_two["math_score"])
av_math_score = math_series / num_of_stu
av_math_score

school_summary_df["Av Math Score"] = av_math_score

school_summary_df

,type,budget,Students,Budget per Student,Average Reading Score,Av Math Score
school_name,,,,,,
Bailey High School,District,3124928,4976,628.0,81.033963,77.048432
Cabrera High School,Charter,1081356,1858,582.0,83.975780,83.061895
Figueroa High School,District,1884411,2949,639.0,81.158020,76.711767
Ford High School,District,1763916,2739,644.0,80.746258,77.102592
Griffin High School,Charter,917500,1468,625.0,83.816757,83.351499
Hernandez High School,District,3022020,4635,652.0,80.934412,77.289752
Holden High School,Charter,248087,427,581.0,83.814988,83.803279
Huang High School,District,1910635,2917,655.0,81.182722,76.629414
Johnson High School,District,3094650,4761,650.0,80.966394,77.072464
Pena High School,Charter,585858,962,609.0,84.044699,83.839917
Rodriguez High School,District,2547363,3999,637.0,80.744686,76.842711
Shelton High School,Charter,1056600,1761,600.0,83.725724,83.359455
Thomas High School,Charter,1043130,1635,638.0,83.848930,83.418349
Wilson High School,Charter,1319574,2283,578.0,83.989488,83.274201
Wright High School,Charter,1049400,1800,583.0,83.955000,83.682222

In [17]:
#uses query to filter out scores >= 70 but keeps all scores individually -> huang hs 70, huanghs 91, huanghs 82, etc...
pass_math_scores = scores_df.query("math_score >= 70")
#groups the scores by school but groupby returns a string
pass_math_gb_str = pass_math_scores.groupby("school_name")
#groups and saves to dataframe the scores by school so its total scores per school -> huanghs 452 (452 scores >= 70)
pass_math_gb = pass_math_gb_str.count()
#turns math scores into a series
pass_math_series = pd.Series(pass_math_gb["math_score"])
#calculates percent who passed
perc_pass_math = (pass_math_series / num_of_stu)*100
#displays result
perc_pass_math

school_summary_df["% Passing Math"] = perc_pass_math

#uses query to filter out scores >= 70 but keeps all scores individually -> huang hs 70, huanghs 91, huanghs 82, etc...
pass_read_scores = scores_df.query("reading_score >= 70")
#groups the scores by school but groupby returns a string
pass_read_gb_str = pass_read_scores.groupby("school_name")
#groups and saves to dataframe the scores by school so its total scores per school -> huanghs 452 (452 scores >= 70)
pass_read_gb = pass_read_gb_str.count()
#turns reading scores into a series
pass_read_series = pd.Series(pass_read_gb["reading_score"])
#calculates percent who passed
per_pass_read = (pass_read_series / num_of_stu)*100
#displays result
per_pass_read

school_summary_df["% Passing Reading"] = per_pass_read

#uses query to filter out ALL scores >= 70
pass_both_scores = scores_df.query("math_score >= 70 & reading_score >= 70")
#groups the scores by school but groupby returns a string
pass_both_gb_str = pass_both_scores.groupby("school_name")
#groups and saves to dataframe the scores by school so its total scores per school 
pass_both_gb = pass_both_gb_str.count()
#turns scores into a series, #both columns have same numbers
pass_both_series = pd.Series(pass_both_gb["reading_score"]) 
#calculates percent who passed
per_pass_both = (pass_both_series / num_of_stu)*100
#displays result
per_pass_both

#school_summary_df["% Passing Math"] = perc_pass_math
school_summary_df["% Overall Passing"] = per_pass_both

school_summary_df

,type,budget,Students,Budget per Student,Average Reading Score,Av Math Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,3124928,4976,628.0,81.033963,77.048432,66.680064,81.933280,54.642283
Cabrera High School,Charter,1081356,1858,582.0,83.975780,83.061895,94.133477,97.039828,91.334769
Figueroa High School,District,1884411,2949,639.0,81.158020,76.711767,65.988471,80.739234,53.204476
Ford High School,District,1763916,2739,644.0,80.746258,77.102592,68.309602,79.299014,54.289887
Griffin High School,Charter,917500,1468,625.0,83.816757,83.351499,93.392371,97.138965,90.599455
Hernandez High School,District,3022020,4635,652.0,80.934412,77.289752,66.752967,80.862999,53.527508
Holden High School,Charter,248087,427,581.0,83.814988,83.803279,92.505855,96.252927,89.227166
Huang High School,District,1910635,2917,655.0,81.182722,76.629414,65.683922,81.316421,53.513884
Johnson High School,District,3094650,4761,650.0,80.966394,77.072464,66.057551,81.222432,53.539172
Pena High School,Charter,585858,962,609.0,84.044699,83.839917,94.594595,95.945946,90.540541
Rodriguez High School,District,2547363,3999,637.0,80.744686,76.842711,66.366592,80.220055,52.988247
Shelton High School,Charter,1056600,1761,600.0,83.725724,83.359455,93.867121,95.854628,89.892107
Thomas High School,Charter,1043130,1635,638.0,83.848930,83.418349,93.272171,97.308869,90.948012
Wilson High School,Charter,1319574,2283,578.0,83.989488,83.274201,93.867718,96.539641,90.582567
Wright High School,Charter,1049400,1800,583.0,83.955000,83.682222,93.333333,96.611111,90.333333

In [18]:
#reorders columns
school_summary_df = school_summary_df[["type", "Students", "budget","Budget per Student", "Av Math Score", 
                                       "Average Reading Score","% Passing Math", "% Passing Reading", "% Overall Passing"]]
school_summary_df

,type,Students,budget,Budget per Student,Av Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [19]:
#rename columns
school_summary_df = school_summary_df.rename(columns= {
    "type" : "School Type", 
    "Students": "Total Students",
    "budget" : "Total School Budget", 
    "Budget per Student" : "Per Student Budget", 
    "Av Math Score" : "Average Math Score"
})
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [20]:
#code given to me
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

# Formatting
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

HIGHEST PERFORMING SCHOOLS

In [21]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = school_summary_df[['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing']]
top_schools = top_schools.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

LOWEST PERFORMING SCHOOLS

In [22]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = school_summary_df[['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing']]
bottom_schools = bottom_schools.sort_values("% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

MATH SCORES BY GRADE

In [23]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

nine_grade_mscore_df = ninth_graders[["school_name", "math_score"]]
nine_grade_math_mean = nine_grade_mscore_df.groupby("school_name").mean()
nine_grade_mscore_series = pd.Series(nine_grade_math_mean["math_score"])

ten_grade_mscore_df = tenth_graders[["school_name", "math_score"]]
ten_grade_math_mean = ten_grade_mscore_df.groupby("school_name").mean()
ten_grade_mscore_series = pd.Series(ten_grade_math_mean["math_score"])

eleven_grade_mscore_df = eleventh_graders[["school_name", "math_score"]]
eleven_grade_math_mean = eleven_grade_mscore_df.groupby("school_name").mean()
eleven_grade_mscore_series = pd.Series(eleven_grade_math_mean["math_score"])

twelve_grade_mscore_df = twelfth_graders[["school_name", "math_score"]]
twelve_grade_math_mean = twelve_grade_mscore_df.groupby("school_name").mean()
twelve_grade_mscore_series = pd.Series(twelve_grade_math_mean["math_score"])

math_scores_by_grade = pd.DataFrame({
    "9th" : nine_grade_mscore_series,
    "10th" : ten_grade_mscore_series,
    "11th" : eleven_grade_mscore_series,
    "12th" : twelve_grade_mscore_series
})

math_scores_by_grade.index.name = None
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

READING SCORES BY GRADE

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

nine_grade_rscore_df = ninth_graders[["school_name", "reading_score"]]
nine_grade_read_mean = nine_grade_rscore_df.groupby("school_name").mean()
nine_grade_rscore_series = pd.Series(nine_grade_read_mean["reading_score"])

ten_grade_rscore_df = tenth_graders[["school_name", "reading_score"]]
ten_grade_read_mean = ten_grade_rscore_df.groupby("school_name").mean()
ten_grade_rscore_series = pd.Series(ten_grade_read_mean["reading_score"])

eleven_grade_rscore_df = eleventh_graders[["school_name", "reading_score"]]
eleven_grade_read_mean = eleven_grade_rscore_df.groupby("school_name").mean()
eleven_grade_rscore_series = pd.Series(eleven_grade_read_mean["reading_score"])


twelve_grade_rscore_df = twelfth_graders[["school_name", "reading_score"]]
twelve_grade_read_mean = twelve_grade_rscore_df.groupby("school_name").mean()
twelve_grade_rscore_series = pd.Series(twelve_grade_read_mean["reading_score"])


reading_scores_by_grade = pd.DataFrame({
    "9th" : nine_grade_rscore_series,
    "10th" : ten_grade_rscore_series,
    "11th" : eleven_grade_rscore_series,
    "12th" : twelve_grade_rscore_series
 })

reading_scores_by_grade.index.name = None
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

SCORES BY SCHOOL SPENDING

In [29]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labelsz = ["<$585", "$585-630", "$630-645", "$645-680"]

In [28]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = school_summary_df.copy()

In [32]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(bug_per_stu, spending_bins, 
                                                                                labels= labelsz, include_lowest = True)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [47]:
spending_summary = school_spending_df[["Spending Ranges (Per Student)", "Average Math Score", "Average Reading Score", 
                                       "% Passing Math","% Passing Reading", "% Overall Passing" ]]
spending_summary = spending_summary.reset_index(drop = True)
spending_sum_df = spending_summary.groupby("Spending Ranges (Per Student)")
spending_sum_df.mean()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_5612\2857672656.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_sum_df = spending_summary.groupby("Spending Ranges (Per Student)")

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

SCHOOL SCORES BY SIZE

In [50]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labelsy = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [51]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_size_df = school_summary_df.copy()

In [54]:
# Use `pd.cut` to categorize spending based on the bins.
school_size_df["School Size"] = pd.cut(num_of_stu, size_bins, 
                                        labels= labelsy, include_lowest = True)
school_size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [56]:
size_summary = school_size_df[["School Size", "Average Math Score", "Average Reading Score", 
                                "% Passing Math","% Passing Reading", "% Overall Passing" ]]
size_summary = size_summary.reset_index(drop = True)
size_summary_df = size_summary.groupby("School Size")
size_summary_df.mean()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_5612\677560407.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_summary_df = size_summary.groupby("School Size")

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

SCHOOL SCORES BY TYPE

In [60]:
type_summary = school_size_df[["School Type", "Average Math Score", "Average Reading Score", 
                                "% Passing Math","% Passing Reading", "% Overall Passing" ]]
type_summary = type_summary.reset_index(drop = True)
type_summary_df = type_summary.groupby("School Type")
type_summary_df.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208